.playlist-page {
  font-family: Arial, sans-serif;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.error-message {
  color: #e74c3c;
  text-align: center;
}

.loading-message {
  text-align: center;
  font-size: 1.2rem;
  color: #888;
}

.no-content-message {
  text-align: center;
  font-size: 1.2rem;
  color: #888;
}

.playlist-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column; /* 세로로 나열 */
  align-items: center; /* 중앙 정렬 */
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px; /* 최대 너비 */
  margin: 0 auto; /* 중앙 정렬 */
}


.playlist-item {
  background-color: #fff;
  padding: 12px 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  
  /* 고정된 크기 설정 */
  width: 100%;          /* 부모 요소에 맞게 크기 조정 */
  max-width: 900px;     /* 최대 너비 설정 */
  height: 50px;        /* 고정된 높이 */
  overflow: hidden;     /* 내용이 넘칠 경우 잘림 */
}

.playlist-row {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 100%;
  justify-content: flex-start;
}

.playlist-item:hover {
  background-color: #f1f1f1;
}

.playlist-name {
  font-weight: bold;
  min-width: 300px;
  color: #333;
}

.playlist-date {
  color: #666;
  min-width: 150px;
}

.playlist-member {
  color: #666;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.pagination-btn {
  padding: 8px 15px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-btn:hover {
  background-color: #444;
}

.page-info {
  font-size: 1rem;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}
